/* Design responsivo */

@media (min-width : 1px) {
	
	header #logo{
		height : 50px;
		background-image : url("imagens/estrutura/logo.png");
		background-position : center;
		background-repeat : no-repeat;
		background-size : 200px;
	}
	
	header #titulo {
		width : 70%;
		height : 50px;
	}
	
	header nav {
		top : 0px;
		width : 30%;
		height : 50px;
		transition : height 0.2s;
	}

	header nav:hover,
	header nav:active {
		top : -50px;
		height : 100px;
		transition : height 0.2s;
	}
	
	header nav span {
		text-align : left;
	}
	
	header nav li {
		text-align : left;
	}
	
	header nav a {
		width : 100%;
		transition : text-indent 0.2s;
	}

	header nav a:link,
	header nav a:visited {
		color : #AA0000;
		text-indent : 0em;
	}

	header nav a:hover,
	header nav a:active {
		background : #AA0000;
		color : #FFDD00;
		text-indent : 1em;
	}
	
	section.mosaico article,
	section.preencher article {
		float : left;
		width : 100%;
	}
	
}

@media (min-width : 576px) {
	
	header #logo{
		height : 50px;
		background-image : url("imagens/estrutura/logo.png");
		background-position : center;
		background-repeat : no-repeat;
		background-size : 200px;
	}
	
}

@media (min-width : 768px) {
	
	header #logo{
		height : 50px;
		background-image : url("imagens/estrutura/logo.png");
		background-position : center;
		background-repeat : no-repeat;
		background-size : 200px;
	}
	
	section.mosaico article {
		width : 50%;
	}
	
}

@media (min-width : 992px) {
	
	header #logo{
		height : 100px;
		background-image : url("imagens/estrutura/logo.png");
		background-position : center;
		background-repeat : no-repeat;
		background-size : 400px;
	}
	
	header #titulo {
		width : 50%;
		height : 150px;
	}
	
	header nav,
	header nav:hover,
	header nav:active {
		width : 50%;
		transition : none;
		top : 20px;
		height : 150px;
	}
	
	header nav span {
		text-align : center;
	}
	
	header nav li {
		text-align : center;
	}
	
	header nav a {
		float : left;
		border : solid 1px black;
		width : 150px;
	}

	header nav a:link,
	header nav a:visited {
		color : #AA0000;
	}

	header nav a:hover,
	header nav a:active {
		background : #AA0000;
		color : #FFDD00;
	}
}

@media (min-width : 1200px) {
	
	header #logo{
		height : 100px;
		background-image : url("imagens/estrutura/logo.png");
		background-position : center;
		background-repeat : no-repeat;
		background-size : 400px;
	}
	
	section.mosaico article {
		width : 33.3%;
	}
	
}

/* Estilização */

* {
	margin : 0px;
	padding : 0px;
	border : red solid 0px;
}

body {
	margin : 0px auto;
	font-family : "Lucida Console", Monaco, monospace;
	width : 100vw;
	max-width : 1440px;
	min-width : 320px;
}

ul {
	list-style : none;
}

a {
	text-decoration : none;
}

.clear {
	clear : both;
}

/* Topo */

header {
	background : #FFBB00;
	border-bottom : 1px solid black;
	width : 100%;
	overflow : hidden;
}

header #titulo, 
header nav {
	color : #AA0000;
	display : inline-block;
}

/* Titulo */

header #titulo{
	pointer-events : none;
	float : left;
	font-size : 1.20em;
	text-align : center;
}

header #titulo h1 {
	display : inline-block;
	text-indent : -5000em;
	font-weight : bold;
}

header #titulo h2 {
	display : inline-block;
	line-height : 50px;
	font-weight : bold;
}

/* Menu */

header nav {
	position : relative;
	float : right;
	font-size : 1.2em;
}

header nav span {
	width : 100%;
	max-width : 450px;
	display : inline-block;
	font-size : 1.6em;
	line-height : 50px;
	height : 50px;
}

header nav a {
	display : inline-block;
	line-height : 33.3px;
	font-weight : bold;
}

header nav a:link,
header nav a:visited {
	color : #AA0000;
}

header nav a:hover,
header nav a:active {
	background : #AA0000;
	color : #FFDD00;
}

/* Corpo */

section {
	font-size : 1em;
	background : #FFBB00;
}

section h2 {
	padding : 15px;
}

article {
	box-sizing : border-box;
	background : #FFCA00;
	border-bottom : 2px solid #AA0000;
	padding : 15px;
}

article img {
	display : block;
	margin-left : auto;
	margin-right : auto;
	margin : 0px;
	padding : 0px;
	width : 100%;
	
}

article:hover,
article:active {
	background : #FFDD00;
}

/* Rodapé */

footer {
	clear : both;
	padding : 5px 10px;
	color : white;
	background : #8B0000;
}