

/* Estilização */

* {
	margin : 0px;
	padding : 0px;
	border : red solid 0px;
}

body {
	margin : 0px auto;
	font-family : Arial;
	width : 100%;
	max-width : 1440px;
	min-width : 320px;
}

ul {
	list-style : none;
}

a {
	text-decoration : none;
}

/* Topo */

header {
	background : #556B2F;
	width : 100%;
	overflow : hidden;
}

header #titulo, 
header nav {
	color : white;
	display : inline-block;
}

header #titulo{
	width : 70%;
	float : left;
	font-size : 1.20em;
}

header h1 {
	color : #BDB76B;
	text-align : center;
	line-height : 50px;
	font-weight : bold;
	border : 0px solid red;
}

header h1 span {
	color : white;
}

header nav {
	position : relative;
	width : 30%;
	float : right;
	font-size : 1.2em;
	top : 0px;
	height : 10px;
	transition : 0.2s;
}

header nav:hover,
header nav:active {
	top : -50px;
	height : 100px;
	transition : 0.2s;
}

header nav span {
	display : inline-block;
	font-size : 1.6em;
	line-height : 50px;
	width : 50px;
	height : 50px;
}

header nav li {
	border : 0px solid white;
	text-align : left;
}

header nav a {
	display : inline-block;
	padding : 5px;
	width : 100%;
	transition : text-indent 0.2s;
}

header nav a:link,
header nav a:visited {
	color : white;
	text-indent : 0em;
}

header nav a:hover,
header nav a:active {
	background : white;
	color : #556B2F;
	text-indent : 1em;
}

/* Corpo */

article {
	padding : 10px;
	background : #BDB76B;
}

article h2 {
	
}

article .flex {
	display : flex;
	flex-wrap : wrap;
	flex-grow : 1;
}

section {
	overflow : hidden;
	width : 200px;
	border : 1px solid black;
	margin : 10px;
	padding : 10px;
	flex-grow : 1;
	
}

/* Rodapé */

footer {
	padding : 5px 10px;
	color : white;
	background : #556B2F;
}